<div class="container col-xxl-8 px-4 py-4 border-bottom">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/src/img/slider1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 align-items-center">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center ">COLECCION LOGITECH K/DA DE LEAGUE OF LEGENDS® </h1>
      <p class="lead text-center">Productos de tus POP/STARS favoritas de League Of Legends. Juega con Ahri, Seraphine, Akali, Evelynn o Kai'sa y domina la grieta del invocador. Ya disponibles en NGG STORE.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Comprar AHora</button>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container border-bottom ">




  <div class="row align-items-md-stretch ">
    <div class="col-md-6 border-end d-flex justify-content-center">

      <a href="#" class="text-decoration-none">
        <div class="h-100 p-5 ">
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-uppercase text-center">Mouse y Teclados Gamer
          </h2>
          <p class="lead text-center text-dark">Tenemos la mejor coleccion de Mouse y Teclados para llevar tu juego al siguiente nivel. en Ngg Store encontraras los mejores teclado mecanicos con las respuesta mas rapida como tambien los mejores Mouse con sus sensores y Dpi que te haran marcar la diferencia </p>
  
          <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
              <img src="/src/img/slider1.png" class="img-fluid border rounded-3 mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
          </div>

      </a>



       
        
        
      </div>
    </div>


    <div class="col-md-6 d-flex justify-content-center">

      <a href="#" class="text-decoration-none">
        <div class="h-100 p-5 ">
          <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-uppercase text-center">Mouse y Teclados Gamer
          </h2>
          <p class="lead text-center text-dark">Tenemos la mejor coleccion de Mouse y Teclados para llevar tu juego al siguiente nivel. en Ngg Store encontraras los mejores teclado mecanicos con las respuesta mas rapida como tambien los mejores Mouse con sus sensores y Dpi que te haran marcar la diferencia </p>
  
          <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
              <img src="/src/img/slider1.png" class="img-fluid border rounded-3 mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
          </div>

      </a>



       
        
        
      </div>
    </div>



    

      
    </div>
  </div>
  <br>
</div>


<style>

img {
  opacity: 1.0;
}

a:hover img{
  opacity: 0.5;
  
}

a:hover p{
  opacity: 0.5;
}

a:hover h2{
  opacity: 0.5;
}


</style>